<h2>Cart list:</h2>
<div *ngIf="cardList.length > 0; else emptyCart">
  <div *ngFor="let item of cardList; trackBy: trackByItems">
    <app-cart-item
      [item]="item"
      (onQuantityIncrease)="increaseQuantity($event)"
      (onDeleteItem)="deleteItem($event)"
      (onQuantityDecrease)="decreaseQuantity($event)"
    ></app-cart-item>
  </div>
  <p>
    Total Cost: {{totalCost}}
  </p>
  <p>
    Total Quantity: {{totalQuantity}}
  </p>
</div>

<ng-template #emptyCart>
  <p>Empty card</p>
</ng-template>
